In [1]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import requests, json

## Using fix_yahoo_finance

In [2]:
from pandas_datareader import data as pdr

import fix_yahoo_finance as yf
yf.pdr_override() # <== that's all it takes :-)

In [ ]:
# download dataframe
data_fix1 = pdr.get_data_yahoo("BOO.L", start="2016-06-06", end="2017-09-05")

data_fix1.shape
data_fix1.sort_index(ascending=False).head()

In [ ]:
# Limit to just the adjusted close, for start and end dates

adj_close = data_fix1[['Adj Close']]

adj_close.head()
adj_close.tail()

summary_df = pd.DataFrame()

summary_df['start'] = adj_close.iloc[0]

summary_df['end'] = adj_close.iloc[-1]

summary_df.head()

In [3]:
# download Panel
data_fix2 = pdr.get_data_yahoo(["ASC.L", "FEVR.L", "BUR.L", "HCM.L", "ABC.L", "BOO.L"], start="2016-01-01", end="2018-08-10")

data_fix2.shape
data_fix2.tail()

[*********************100%***********************]  6 of 6 downloaded

(660, 36)

              Open                                                High  \
             ABC.L   ASC.L       BOO.L   BUR.L  FEVR.L   HCM.L   ABC.L
Date
2018-08-06  1440.0  6070.0  201.199997  1792.0  3640.0  4800.0  1466.0
2018-08-07  1445.0  6080.0  200.399994  1810.0  3550.0  4770.0  1467.0
2018-08-08  1429.0  5990.0  199.600006  1832.0  3586.0  4780.0  1457.0
2018-08-09  1452.0  6108.0  200.199997  1814.0  3589.0  4750.0  1467.0
2018-08-10  1464.0  6248.0  204.399994  1812.0  3489.0  4810.0  1471.0

                                        ...     Adj Close          \
             ASC.L       BOO.L   BUR.L  ...         BOO.L   BUR.L
Date                                    ...
2018-08-06  6120.0  203.000000  1848.0  ...    200.000000  1808.0
2018-08-07  6180.0  202.600006  1866.0  ...    200.500000  1850.0
2018-08-08  6138.0  202.600006  1852.0  ...    200.699997  1818.0
2018-08-09  6242.0  204.699997  1838.0  ...    203.899994  1822.0
2018-08-10  6284.0  204.500000  1830.0  ...    199.850006  1828.0

                                 Volume                                    \
                 FEVR.L   HCM.L   ABC.L   ASC.L    BOO.L   BUR.L   FEVR.L
Date
2018-08-06  3675.543701  4800.0  306010  369464  3168465  371388   344530
2018-08-07  3573.667236  4815.0  289350  450595  3856605  329908  7087046
2018-08-08  3480.780029  4800.0  236535  293725  3040472  349825   461435
2018-08-09  3517.000000  4815.0  292872  395033  4604896  145378   389330
2018-08-10  3464.000000  4900.0  283829  409062  5605633  149115   233893


            HCM.L
Date
2018-08-06   8602
2018-08-07   3519
2018-08-08   7314
2018-08-09  12881
2018-08-10  13311

[5 rows x 36 columns]

In [38]:
# Keep Adjusted Close and Transpose 
 
data_adj_close = data_fix2.iloc[:, data_fix2.columns.get_level_values(0)=='Adj Close']

data_adj_close.columns = [col[1] for col in data_adj_close.columns]



# Output to CSV for QA
data_adj_close.to_csv("price-api-qa.csv")



data_adj_close_T = data_adj_close.unstack().to_frame().reset_index()
data_adj_close_T.columns.values
data_adj_close_T.rename(columns={'level_0':'ticker', 0:'Adj Close'}, inplace=True)
#data_adj_close_T.set_index(['ticker', 'Date'], inplace=True)

data_adj_close_T.shape
data_adj_close_T.head()

array(['level_0', 'Date', 0], dtype=object)

(3960, 3)

  ticker       Date   Adj Close
0  ABC.L 2016-01-04  625.577515
1  ABC.L 2016-01-05  635.329346
2  ABC.L 2016-01-06  628.503052
3  ABC.L 2016-01-07  626.552734
4  ABC.L 2016-01-08  626.065125

In [6]:
# Get indexes data for same time period
# FTSE 100 Index: "^FTSE"
# FTSE 250 Index: "^FTMC"
# FTSE All Share Index: "^FTAS"
# FTSE SmallCap Index: "^FTSC"
# FTSE AIM All-Share: "^FTAI"
# FTSE AIM 100 Index: "AIM1.L"
# FTSE AIM 50 Index: "AIM5.L"

tickers_indexes=["AIM1", "AIM5", "^FTSE", "^FTMC", "^FTAS", "^FTSC", "^FTAI"]

data_indexes = pdr.get_data_yahoo(tickers_indexes, start="2016-01-01", end="2018-08-10")
#data_indexes = pdr.get_data_yahoo(["AIM1.L", "AIM5.L"], start="2016-01-01", end="2018-08-10")

data_indexes.shape
data_indexes.head()

[*********************100%***********************]  7 of 7 downloaded

(660, 30)

                  Open                                                       \
                 ^FTAI        ^FTAS         ^FTMC        ^FTSC        ^FTSE
Date
2016-01-04  739.400024  3444.260010  17429.800781  4634.700195  6242.299805
2016-01-05  736.099976  3367.419922  17122.199219  4585.700195  6093.399902
2016-01-06  735.200012  3389.409912  17205.000000  4586.700195  6137.200195
2016-01-07  733.500000  3356.000000  17059.000000  4566.600098  6073.399902
2016-01-08  726.500000  3293.300049  16792.199219  4510.700195  5954.100098

                  High                                                       \
                 ^FTAI        ^FTAS         ^FTMC        ^FTSC        ^FTSE
Date
2016-01-04  739.500000  3444.320068  17431.800781  4634.700195  6242.299805
2016-01-05  736.900024  3402.620117  17223.000000  4597.799805  6166.299805
2016-01-06  735.200012  3389.429932  17205.599609  4586.700195  6137.200195
2016-01-07  733.500000  3356.000000  17059.000000  4566.600098  6073.399902
2016-01-08  728.900024  3325.149902  16948.800781  4535.799805  6013.399902

               ...       Adj Close                                          \
               ...           ^FTAI        ^FTAS         ^FTMC        ^FTSC
Date           ...
2016-01-04     ...      735.700012  3367.419922  17122.199219  4585.700195
2016-01-05     ...      734.599976  3389.409912  17205.000000  4586.700195
2016-01-06     ...      734.099976  3356.000000  17059.000000  4566.600098
2016-01-07     ...      726.099976  3293.300049  16792.199219  4510.700195
2016-01-08     ...      725.599976  3272.610107  16732.699219  4493.299805

                        Volume
                  ^FTSE  ^FTAI ^FTAS      ^FTMC ^FTSC       ^FTSE
Date
2016-01-04  6093.399902    0.0     0  234057900   0.0   686232700
2016-01-05  6137.200195    0.0     0  225795300   0.0   624070800
2016-01-06  6073.399902    0.0     0  274581200   0.0   699957700
2016-01-07  5954.100098    0.0     0  283943900   0.0  1054315500
2016-01-08  5912.399902    0.0     0  232393900   0.0   809964200

[5 rows x 30 columns]

In [39]:
# Keep Adjusted Close and Transpose 

indexes_adj_close = data_indexes.iloc[:, data_indexes.columns.get_level_values(0)=='Adj Close']

indexes_adj_close.columns = [col[1] for col in indexes_adj_close.columns]



# Output to CSV for QA
indexes_adj_close.to_csv("price-api-qa-indexes.csv")



indexes_adj_close_T = indexes_adj_close.unstack().to_frame().reset_index()
indexes_adj_close_T.columns.values
indexes_adj_close_T.rename(columns={'level_0':'ticker', 0:'Adj Close'}, inplace=True)
#indexes_adj_close_T.set_index(['ticker', 'Date'], inplace=True)

indexes_adj_close_T.shape
indexes_adj_close_T.head(10)

array(['level_0', 'Date', 0], dtype=object)

(3300, 3)

  ticker       Date   Adj Close
0  ^FTAI 2016-01-04  735.700012
1  ^FTAI 2016-01-05  734.599976
2  ^FTAI 2016-01-06  734.099976
3  ^FTAI 2016-01-07  726.099976
4  ^FTAI 2016-01-08  725.599976
5  ^FTAI 2016-01-11  720.099976
6  ^FTAI 2016-01-12  720.900024
7  ^FTAI 2016-01-13  718.700012
8  ^FTAI 2016-01-14  708.299988
9  ^FTAI 2016-01-15  698.299988

In [ ]:
# # Loop through tickers getting data for the period dates

# def request_yahoo(row):
    
#     all_output = pd.DataFrame()
    
#     print(row['ticker'], row['startdate'], row['enddate'])
# #    return (pdr.get_data_yahoo(row['ticker'], start='2018-08-01', end='2018-08-10'))
#     day_data = pdr.get_data_yahoo(row['ticker'], start=row['startdate'], end=row['enddate'])
#     summary_df = pd.DataFrame()
#     summary_df['ticker'] = row['ticker']
#     summary_df['start_date'] = row['startdate']
#     summary_df['start_price'] = adj_close.iloc[0]
#     summary_df['end_date'] = row['enddate']
#     summary_df['end_price'] = adj_close.iloc[-1]
    
#     return summary_df

# data_all = driver_file_df.apply(request_yahoo, axis=1)

# data_all.shape
# data_all.head()

In [ ]:
# def get_prices_loop(ticker, startdate, enddate):
    
#     print("Running for ", ticker, " | startdate= ", startdate, " | enddate = ", enddate)
#     day_data = pdr.get_data_yahoo(ticker, start=startdate, end=enddate)
#     adj_close = day_data[['Adj Close']]
#     summary_df = pd.DataFrame()
# #    summary_df['ticker'] = ticker
#     summary_df['start_price'] = adj_close.iloc[0]
#     summary_df['end_price'] = adj_close.iloc[-1]
#     summary_df.insert(0, 'ticker', ticker)
#     summary_df.insert(1, 'start_date', startdate)
#     summary_df.insert(3, 'end_date', enddate)
        
#     return summary_df
    

# all_output_df = pd.DataFrame()
    
# for index, row in tickers.iterrows():
#     print(row['Symbol Yahoo'], row['Period Start Date'], row['Period End Date'])
#     output_row = get_prices_loop(row['Symbol Yahoo'], row['Period Start Date'], row['Period End Date'])
#     all_output_df = pd.concat([all_output_df, output_row])
    
# all_output_df.shape
# all_output_df.head()

### Read in tickers and dates sheet

In [9]:
tickers = pd.read_csv('~/Downloads/report-dates - Sheet1.csv', parse_dates=['AR Date', 'FY end', 'Period Start Date', 'Period End Date'])

tickers['Symbol Yahoo'] = tickers['Symbol'].astype(str) + ".L"

tickers.shape
tickers.head(10)
tickers.dtypes

(6, 7)

,Company,Symbol,AR Date,FY end,Period Start Date,Period End Date,Symbol Yahoo
0,Asos,ASC,2016-10-28,2016-08-31,2016-11-11,2017-10-14,ASC.L
1,Fevertree,FEVR,2017-05-04,2016-12-31,2017-04-19,2018-03-22,FEVR.L
2,Burford Capital,BUR,2017-03-13,2016-12-31,2017-03-27,2018-02-27,BUR.L
3,Hutchison China Meditech Ltd,HCM,2017-03-13,2016-12-31,2017-03-27,2018-02-27,HCM.L
4,Abcam,ABC,2016-06-30,2016-06-30,2016-07-14,2017-06-16,ABC.L
5,boohoo.com,BOO,2016-05-23,2016-02-29,2016-06-06,2017-09-05,BOO.L

Company                      object
Symbol                       object
AR Date              datetime64[ns]
FY end               datetime64[ns]
Period Start Date    datetime64[ns]
Period End Date      datetime64[ns]
Symbol Yahoo                 object
dtype: object

In [14]:
tickers.set_index(['Symbol Yahoo', 'Period Start Date']).head(30)

,,Company,Symbol,AR Date,FY end,Period End Date
Symbol Yahoo,Period Start Date,,,,,
ASC.L,2016-11-11,Asos,ASC,2016-10-28,2016-08-31,2017-10-14
FEVR.L,2017-04-19,Fevertree,FEVR,2017-05-04,2016-12-31,2018-03-22
BUR.L,2017-03-27,Burford Capital,BUR,2017-03-13,2016-12-31,2018-02-27
HCM.L,2017-03-27,Hutchison China Meditech Ltd,HCM,2017-03-13,2016-12-31,2018-02-27
ABC.L,2016-07-14,Abcam,ABC,2016-06-30,2016-06-30,2017-06-16
BOO.L,2016-06-06,boohoo.com,BOO,2016-05-23,2016-02-29,2017-09-05

In [33]:
# Merge prices onto period dates file

merge_dates_prices = tickers.merge(data_adj_close_T, how='inner', \
                        left_on=['Symbol Yahoo', 'Period Start Date'], right_on=['ticker','Date'])
merge_dates_prices.rename(columns={'Adj Close':'Adj Close Start'}, inplace=True)

merge_dates_prices.drop(['ticker', 'Date'],axis=1, inplace=True)

merge_dates_prices = merge_dates_prices.merge(data_adj_close_T, how='inner', \
                        left_on=['Symbol Yahoo', 'Period End Date'], right_on=['ticker','Date'])
merge_dates_prices.rename(columns={'Adj Close':'Adj Close End'}, inplace=True)

merge_dates_prices.drop(['ticker', 'Date'],axis=1, inplace=True)

merge_dates_prices.head(30)

,Company,Symbol,AR Date,FY end,Period Start Date,Period End Date,Symbol Yahoo,Adj Close Start,Adj Close End
0,Fevertree,FEVR,2017-05-04,2016-12-31,2017-04-19,2018-03-22,FEVR.L,1558.934814,2945.080566
1,Burford Capital,BUR,2017-03-13,2016-12-31,2017-03-27,2018-02-27,BUR.L,785.980713,1042.118774
2,Hutchison China Meditech Ltd,HCM,2017-03-13,2016-12-31,2017-03-27,2018-02-27,HCM.L,3105.000000,4790.000000
3,Abcam,ABC,2016-06-30,2016-06-30,2016-07-14,2017-06-16,ABC.L,724.066101,954.591248
4,boohoo.com,BOO,2016-05-23,2016-02-29,2016-06-06,2017-09-05,BOO.L,57.250000,229.500000

In [36]:
# Calc returns

merge_dates_prices['return_ratio'] = round(merge_dates_prices['Adj Close End'] / merge_dates_prices['Adj Close Start'], 2)
merge_dates_prices['Adj Close Start'] = round(merge_dates_prices['Adj Close Start'], 1)
merge_dates_prices['Adj Close End'] = round(merge_dates_prices['Adj Close End'], 1)

merge_dates_prices.shape
merge_dates_prices.head()

(5, 10)

,Company,Symbol,AR Date,FY end,Period Start Date,Period End Date,Symbol Yahoo,Adj Close Start,Adj Close End,return_ratio
0,Fevertree,FEVR,2017-05-04,2016-12-31,2017-04-19,2018-03-22,FEVR.L,1558.9,2945.1,1.89
1,Burford Capital,BUR,2017-03-13,2016-12-31,2017-03-27,2018-02-27,BUR.L,786.0,1042.1,1.33
2,Hutchison China Meditech Ltd,HCM,2017-03-13,2016-12-31,2017-03-27,2018-02-27,HCM.L,3105.0,4790.0,1.54
3,Abcam,ABC,2016-06-30,2016-06-30,2016-07-14,2017-06-16,ABC.L,724.1,954.6,1.32
4,boohoo.com,BOO,2016-05-23,2016-02-29,2016-06-06,2017-09-05,BOO.L,57.2,229.5,4.01

In [ ]:
# Merge on index returnds in same period...
### PICK UP HERE ###