In [33]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [1]:
# from yahoo_finance import Share

In [7]:
import urllib.request
from bs4 import BeautifulSoup

def getPrice(tag):
    source = "https://finance.yahoo.com/quote/"+tag
    filehandle = urllib.request.urlopen(source)
    soup = BeautifulSoup(filehandle.read(), "html.parser")
    priceSpan = soup.findAll("span", { "class" : "Fz(36px)" })
    for k in priceSpan:
        return(k.getText())

def getDayChange(tag):
    source = "https://finance.yahoo.com/quote/"+tag
    filehandle = urllib.request.urlopen(source)
    soup = BeautifulSoup(filehandle.read(), "html.parser")
    priceSpan = soup.findAll("span", { "class" : "Fw(500)" })
    for k in priceSpan:
        return(k.getText())

In [8]:
getPrice('GOOG')

'1,248.08'

In [9]:
getDayChange('Goog')

'+42.58 (+3.53%)'

In [10]:
# These code snippets use an open-source library. http://unirest.io/python
response = unirest.get("https://enclout-yahoo-finance.p.mashape.com/show.json?auth_token=&text=AAPL%2C+MSFT%2C+GOOG",
  headers={
    "X-Mashape-Key": "<required>",
    "Accept": "application/json"
  }
)

NameError: name 'unirest' is not defined

### Google Finance API

In [7]:
from googlefinance.client import get_price_data, get_prices_data, get_prices_time_data

In [9]:
# Dow Jones
param = {
    'q': ".DJI", # Stock symbol (ex: "AAPL")
    'i': "86400", # Interval size in seconds ("86400" = 1 day intervals)
    'x': "INDEXDJX", # Stock exchange symbol on which stock is traded (ex: "NASD")
    'p': "1Y" # Period (Ex: "1Y" = 1 year)
}
# get price data (return pandas dataframe)
df = get_price_data(param)
df.shape
df.head()

                         Open      High       Low     Close     Volume
2017-07-31 21:00:00  21863.39  21929.80  21861.71  21891.12  307611007
2017-08-01 21:00:00  21961.42  21990.96  21940.81  21963.92  328405532
2017-08-02 21:00:00  22004.36  22036.10  21967.46  22016.24  336824836
2017-08-03 21:00:00  22007.58  22044.85  21991.32  22026.10  278731064
2017-08-04 21:00:00  22058.39  22092.81  22024.64  22092.81  253635270

In [12]:
params = [
    # Dow Jones
    {
        'q': ".DJI",
        'x': "INDEXDJX",
    },
    # NYSE COMPOSITE (DJ)
    {
        'q': "NYA",
        'x': "INDEXNYSEGIS",
    },
    # S&P 500
    {
        'q': ".INX",
        'x': "INDEXSP",
    }
]
period = "1Y"

# get open, high, low, close, volume data (return pandas dataframe)
df = get_prices_data(params, period)

df.shape
df.head()

(252, 15)

,.DJI_Open,.DJI_High,.DJI_Low,.DJI_Close,.DJI_Volume,NYA_Open,NYA_High,NYA_Low,NYA_Close,NYA_Volume,.INX_Open,.INX_High,.INX_Low,.INX_Close,.INX_Volume
2017-07-31,21863.39,21929.80,21861.71,21891.12,307611007.0,11976.2066,11989.5282,11950.5754,11967.6682,0.0,0.00,0.00,0.00,2470.30,2189633778
2017-08-01,21961.42,21990.96,21940.81,21963.92,328405532.0,12006.7372,12012.6462,11978.9455,12000.0200,0.0,2477.10,2478.51,2471.14,2476.35,2076284140
2017-08-02,22004.36,22036.10,21967.46,22016.24,336824836.0,11979.1027,11981.4091,11938.8962,11979.3700,0.0,2480.38,2480.38,2466.48,2477.57,2125483668
2017-08-03,22007.58,22044.85,21991.32,22026.10,278731064.0,11968.4792,11975.4233,11944.1940,11956.5162,0.0,2476.03,2476.03,2468.85,2472.16,2039487376
2017-08-04,22058.39,22092.81,22024.64,22092.81,253635270.0,11982.0278,11994.9472,11959.9894,11984.8869,0.0,2476.88,2480.00,2472.08,2476.83,1869113813

### UK indexes

In [26]:
params = [
    # FTSE 100 Index
    {
        'q': "UKX",
        'x': "INDEXFTSE",
    },
    # FTSE 250 Index
    {
        'q': "MCX",
        'x': "INDEXFTSE",
    },
    # FTSE AIM All-Share Index
    {
        'q': "AXX",
        'x': "INDEXFTSE",
    },
    # FTSE SmallCap Index
    {
        'q': "SMX",
        'x': "INDEXFTSE",
    },
    # FTSE SmallCap Index
    {
        'q': "SMX",
        'x': "INDEXFTSE",
    },
    # FTSE AIM 100 Index
    {
        'q': "AIM1",
        'x': "INDEXFTSE",
    },
    # FTSE AIM 50 Index
    {
        'q': "AIM5",
        'x': "INDEXFTSE",
    }
]
period = "1Y"

# get open, high, low, close, volume data (return pandas dataframe)
df = get_prices_data(params, period)

df.shape
df.head()

(253, 35)

TypeError: sort_values() missing 1 required positional argument: 'by'

In [27]:
cols_trimmed = ['UKX_Close', 'MCX_Close', 'AXX_Close', 'SMX_Close', 'AIM1_Close', 'AIM5_Close']

df[cols_trimmed].reset_index().sort_values('index', ascending=False).head()

,index,UKX_Close,MCX_Close,AXX_Close,SMX_Close,SMX_Close,AIM1_Close,AIM5_Close
252,2018-07-30,7700.85,20878.25,1096.29,5880.56,5880.56,5810.44,6300.95
251,2018-07-27,7701.31,20868.94,1101.87,5903.77,5903.77,5849.22,6359.31
250,2018-07-26,7663.17,20768.61,1099.97,5887.02,5887.02,5840.76,6351.36
249,2018-07-25,7658.26,20753.60,1101.12,5884.56,5884.56,5845.18,6358.87
248,2018-07-24,7709.05,20852.87,1093.69,5913.53,5913.53,5779.18,6324.91

### Test a single run

In [32]:
param = {
    'q': "FEVR", # Stock symbol (ex: "AAPL")
    'i': "86400", # Interval size in seconds ("86400" = 1 day intervals)
    'x': "LON", # Stock exchange symbol on which stock is traded (ex: "NASD")
    'p': "1Y" # Period (Ex: "1Y" = 1 year)
}
# get price data (return pandas dataframe)
df = get_price_data(param)
df.shape
df.reset_index().sort_values('index', ascending=False).head()

(253, 5)

                  index    Open    High     Low   Close  Volume
252 2018-07-30 16:30:00  3550.0  3596.0  3496.0  3538.0  192978
251 2018-07-27 16:30:00  3626.0  3626.0  3534.0  3550.0  197543
250 2018-07-26 16:30:00  3669.0  3692.0  3560.0  3599.0  304907
249 2018-07-25 16:30:00  3700.0  3734.0  3562.0  3640.0  552773
248 2018-07-24 16:30:00  3927.0  3987.0  3626.0  3650.0  958264

### Read in tickers and dates sheet

In [41]:
tickers = pd.read_csv('~/Downloads/report-dates - Sheet1.csv', parse_dates=['AR Date', 'FY end', 'Period Start Date', 'Period End Date'])

tickers.shape
tickers.head()
tickers.dtypes

(6, 6)

,Company,Symbol,AR Date,FY end,Period Start Date,Period End Date
0,Asos,ASC,2016-10-28,2016-08-31,2016-11-11,2017-10-14
1,Fevertree,FEVR,2017-05-04,2016-12-31,2017-04-19,2018-03-22
2,Burford Capital,BUR,2017-03-13,2016-12-31,2017-03-27,2018-02-27
3,Hutchison China Meditech Ltd,HCM,2017-03-13,2016-12-31,2017-03-27,2018-02-27
4,Abcam,ABC,2016-06-30,2016-06-30,2016-07-14,2017-06-16

Company                      object
Symbol                       object
AR Date              datetime64[ns]
FY end               datetime64[ns]
Period Start Date    datetime64[ns]
Period End Date      datetime64[ns]
dtype: object

In [90]:
# Loop through tickers getting data for the period dates

def get_prices_loop(ticker):
    
    print("Running for ", ticker)
    df = get_price_data({'q': ticker, 'i':"86400", 'x':"LON", 'p': "2Y"})
    
#    print(ticker, " | ", df['Close'].min(), " | ", round(df['Close'].mean(), 1), " | ", df['Close'].median(), " | ", df['Close'].max())
    row = ticker, df['Close'].min(), round(df['Close'].mean(), 1), df['Close'].median(), df['Close'].max()

    return row

In [92]:
for ind, ticker in tickers['ticker'].iterrows():
    print(ticker)

KeyError: 'ticker'

In [93]:
 tickers['ticker']

KeyError: 'ticker'